body {
    background-color: #f4f6f9;
    color: #283267;
}
.card {
    border-radius: 15px;
}
.btn-primary {
    background-color: #283267;
    border-color: #283267;
    color: #fff;
}
.btn-primary:hover {
    color: #fff;
    background-color: #283267;
    border-color: #283267;
}
.btn-primary:focus {
    box-shadow: none !important;
}
.form-control {
    box-shadow: none !important;
}
#content {
    margin-top: -25vh;
}
.table thead {
    background-color: #f1f5ff;
}

#sidebar {
    background: white;
    border-right: 1px solid #eee;
    min-height: 100vh;
    padding: 0;
}
#sidebar .list-group-item {
    padding: 1vh 0;
    font-size: 4vh;
    border-right: 0;
}
#sidebar .header img {
    height: 10vh;
}
#sidebar .header h3 {
    color: #e17055;
}
#sidebar .list-group-item p {
    display: inline-block;
    margin-left: 1vw;
    color: #283267;
    font-weight: bold;
    font-size: 1vw;
}

@media (max-width: 1000px) {
    #sidebar .list-group-item p {
        font-size: 1.5vw;
    }
}
@media (max-width: 768px) {
    #sidebar .list-group-item p {
        font-size: 2vw;
    }
}
@media (max-width: 520px) {
    #sidebar .list-group-item p {
        font-size: 3vw;
    }
}
#sidebar img {
    height: 3vh;
    margin-left: 1vw;
}
