body {
    font-family: "Noto Sans", sans-serif;
}
nav.navbar {
    background: #273c75;
}

.card:first-of-type {
    margin-top: 5vh;
}
.form-control {
    box-shadow: none !important;
}
.btn {
    box-shadow: none !important;
}
