#main-content {
    min-height: 70vh;
}
#main-content #search-table,
#progress {
    display: none;
}
/* #main-content .table {
    text-align: center;
} */
#main-content .input-group {
    width: 30%;
}
